hostname = pinhaoge.xyz, c.y.qq.com, music.163.com
^https?:\/\/pinhaoge\.xyz(?::\d+)?(?:\/.*)?$ url script-analyze-echo-response https://github.com/Anomi-oo/wow-origin/releases/latest/download/wow-origin.rewrite.js
^https:\/\/c\.y\.qq\.com\/base\/fcgi-bin\/fcg_check url script-request-header https://github.com/Anomi-oo/wow-origin/releases/latest/download/wow-origin.rewrite.js
^https:\/\/(.*)\.music\.163\.com\/xeapi\/v1\/user\/detail\/(\d+) url script-request-body https://github.com/Anomi-oo/wow-origin/releases/latest/download/wow-origin.rewrite.js
